/*
Colors used:
White: #FFFFFF;
Black: #262425;
Light Grey: #E9E9E9;
Dark Grey: ##DBDBDB;
Red: #EC5043;
Off Red: #
*/

* {
  box-sizing: border-box;
}

/* TYPEFACE */

body {
    background-color: #ffffff;
    font-size: 16px; 
    font-family: 'Manrope', sans-serif;
    font-weight: 400; 
    line-height: 1.5;
    color: #262425;
}

h1, h2, h3 {
    line-height: 1;
}

h1 {
    font-size: 1.7em;
    font-weight: 800;
    margin-top: 40px;
    margin-bottom:40px;
}

h2 {
    font-size: 1.3em;
    font-weight: 800;
    margin-top: 40px;
    margin-bottom:20px;
}

h3 {
    font-size: 1.2em;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* IMAGE & SVG SIZE */

img {
    width: 100%;
}

.mylogo {
  width: 60px;
}

.logo {
  max-width: 150px;
}

/* HYPERLINKS */

a {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  opacity: 1;
  transition: 0.2s; 
}

a:visited {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  opacity: 1;
}

a:hover,
a:focus {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  opacity: 0.75;
}

a:active { 
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  opacity: 0.5;
}


/* PRIMARY BUTTON */

.button.primary {
  background-color: #EC5043;
  color: #FFFFFF;
  font-weight: 700;
  padding: 16px 24px;
  border-radius: 100px;
  transition: 0.2s;
  transition-property: opacity;
}

.button.primary:hover {
  opacity: 0.75; 
}

.button.primary:active {
  opacity: 0.5;
}

/* SECONDARY BUTTON */

.button.secondary {
  display: inline-block;
  background-color: #E9E9E9;
  color: #262425;
  font-weight: 700;
  padding: 16px 24px;
  border-radius: 100px;
  opacity: 1;
  transition: 0.2s;
  transition-property: opacity;
}

.button.secondary:hover {
  display: inline-block;
  background-color: #DBDBDB;
  color: #262425;
  font-weight: 700;
  padding: 16px 24px;
  border-radius: 100px;
  opacity: 1;
  transition: 0.2s;
}

.button.secondary:active {
  display: inline-block;
  background-color: #DBDBDB;
  color: #262425;
  font-weight: 700;
  padding: 16px 24px;
  border-radius: 100px;
  opacity: 0.75;
  transition: 0.2s;
}

/* ANIMATION */


.rotate {
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* GENERAL LAYOUT CLASS */

.section {
  margin: 40px 40px;
}

.container {
  padding: 40px 40px;
}

.row {
  margin: 40px 0px;
}

.littlerow {
  margin: 0px 0px;
}


.center {
  text-align: center;
}

main {
padding-top: 172px;
}

.copywrite {
  font-size: 0.8em;
  text-align: center;
}

.picturepadding {
  padding: 20px 0px;
}


/* NAVIGUATION BAR */

nav > ul {
  list-style-type: none;
  padding: 0px;
}

nav > ul > li {
  display: inline-block
}

nav > ul > li > a,a:visited,a:hover,
a:focus,a:active  {
  padding: 0px 10px;
}


/* FOOTER */

footer {
  background-color: #262425;
  color: #ffffff;
}

footer > .container {
  padding-bottom: 20px;
}

.social {
  margin-top: 20px;
  margin-bottom: 40px;
}

.social > ul {
  list-style-type: none;
  padding: 0px;
  text-align: center;
}

.social > ul > li  {
  display: inline-block;
}

.social > ul > li > a,a:visited,a:hover,
a:focus,a:active  {
  padding: 0 10px;
}

.socialimage{
  width:40px
}

.primarybuttonrow {
  margin: 40px 0px
}

/* ABOUT PAGE  */

#skilllist {
  margin: 0px 0px;
  padding: 0px 15px;
}


/* WORK PAGE  */

header {
  background-color: #262425;
  text-align: center;
  position:fixed;
  width: 100%;
}

header > .container {
  padding-bottom: 10px;
}

#hero {
  background-color: #262425;
  color: #ffffff;
}

#hero h1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
}

#hero p {
  text-align: center;
  font-size: 1.1em;
  font-weight: 600;
  margin:0px;
}

/* REACH PAGE */

#lightboximage{
  background-color: #262425;
}

#projectoverview {
  background-color: #262425;
  color: #ffffff;
}

.prototypes > ul {
  list-style-type: none;
  padding: 0px;
}

.prototypes > ul > li {
  display: inline-block;
  padding: 10px;
  padding-left: 0px;
}


/* Medium devices (640px and larger) */
@media only screen and (min-width: 640px) {

  #mystory > h2 {
    margin-top: 0px;
  }

  #skillstools > .row {
    margin: 0px 0px;
  }

  .img-md-size {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  header {
    text-align: unset;
  }

  nav {
    width: auto;
    float: right;
  }

  main {
    padding-top: 96px;
  }

  .mylogo {
    width: 40px;
  }

  .picturepadding {
    padding: 40px 0px;
  }

  .col-md-6 {
    width: 50%;
    padding-right:20px;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-8 {
    width: 66.67%;
    padding-left:20px;
  }

  .col-md-5 {
    width: 42%;
  }

  .col-md-7 {
    width: 58%;
    padding-left:20px;
  }


  [class*="col-"] {
    float: left;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .littlerow::after {
    content: "";
    clear: both;
    display: table;
  }

}

/* Large devices (1024px or larger) */
@media only screen and (min-width: 1024px) {

  body {
    font-size: 18px; 
  }

  
  #mystory > h2 {
    margin-top: 0px;
  }

  #skillstools > .row {
    margin: 0px 0px;
  }

  .img-lg-size {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .picturepadding {
    padding: 40px 0px;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
  }

  header {
    text-align: unset;
  }

  nav {
    width: auto;
    float: right;
  }

  main {
    padding-top: 96px;
  }

  .mylogo {
    width: 40px;
  }

  .col-lg-7 {
    width: 60%;
    padding-right:20px;
  }

  .col-lg-5 {
    width: 40%;
    padding-right:20px;
  }

  .col-lg-3 {
    width: 25%;
    padding-right:20px;
  }

  .col-lg-9 {
    width: 75%;
    padding-right:20px;
  }


  [class*="col-"] {
    float: left;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .littlerow::after {
    content: "";
    clear: both;
    display: table;
  }
}

/* X-large devices (1440px or larger) */
@media only screen and (min-width: 1440px) {
}


