/*
Colors used:
White: #FFFFFF;
Black: #262425;
Light Grey: #E9E9E9;
Dark Grey: ##DBDBDB;
Red: #EC5043;
Off Red: #
*/

* {
  box-sizing: border-box;
}

/* TYPEFACE */

body {
    background-color: #ffffff;
    font-size: 18px; 
    font-family: 'Manrope', sans-serif;
    font-weight: 400; 
    line-height: 1.5;
    color: #262425;
}

h1, h2, h3 {
    line-height: 1;
}

h1 {
    font-size: 1.7em;
    font-weight: 800;
    margin-top: 40px;
    margin-bottom:40px;
}

h2 {
    font-size: 1.3em;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom:20px;
}

h3 {
    font-size: 1.2em;
    font-weight: 800;
}

/* IMAGE & SVG SIZE */

img {
    width: 100%;
}

.logo {
  max-width: 150px;
}

/* HYPERLINKS */

a {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  opacity: 1; 
}

a:visited {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  opacity: 1;
}

a:hover,
a:focus {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  opacity: 0.75;
}

a:active { 
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  opacity: 0.5;
}


/* PRIMARY BUTTON */

.button.primary {
  background-color: #EC5043;
  color: #FFFFFF;
  font-weight: 700;
  padding: 16px 24px;
  border-radius: 100px;
  transition: 0.2s
}

.button.primary:hover {
  opacity: 0.75; 
}

.button.primary:active {
  opacity: 0.5;
}

/* SECONDARY BUTTON */

.button.secondary {
  display: inline-block;
  background-color: #E9E9E9;
  color: #262425;
  font-weight: 700;
  padding: 16px 24px;
  border-radius: 100px;
  opacity: 1;
  transition: 0.2s
}

.button.secondary:hover {
  display: inline-block;
  background-color: #DBDBDB;
  color: #262425;
  font-weight: 700;
  padding: 16px 24px;
  border-radius: 100px;
  opacity: 1;
  transition: 0.2s;
}

.button.secondary:active {
  display: inline-block;
  background-color: #DBDBDB;
  color: #262425;
  font-weight: 700;
  padding: 16px 24px;
  border-radius: 100px;
  opacity: 0.75;
  transition: 0.2s;
}

/* GENERAL LAYOUT CLASS */

.section {
  margin: 40px 40px;
}

.container {
  padding: 40px 40px;
}

.row {
  margin: 40px 0px;
}

.center {
  text-align: center;
}



/* NAVIGUATION BAR */

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
  padding: 20px 0px;
}

nav > ul > li > a,a:visited,a:hover,
a:focus,a:active  {
  padding: 0 10px;
}


/* FOOTER */

footer {
  background-color: #262425;
  color: #ffffff;
}

.social > ul {
  list-style-type: none;
  padding: 0px;
}

.social > ul > li  {
  display: inline-block;
}

.social > ul > li > a,a:visited,a:hover,
a:focus,a:active  {
  padding: 0 10px;
}


.socialimage{
  width:40px
}

.primarybuttonrow{
  padding: 20px 0px
}

/* WORK PAGE HEADER */

header {
  background-color: #262425;
  text-align: center;
}

/* WORK PAGE HERO */

#hero {
  background-color: #262425;
  color: #ffffff;
}

#hero h1 {
  text-align: center;
}

#hero p {
  text-align: center;
  padding: 0 20px;
}

/* REACH PAGE */

#lightboximage{
  background-color: #262425;
}

#projectoverview {
  background-color: #262425;
  color: #ffffff;
}

.prototypes > ul {
  list-style-type: none;
  padding: 0px;
}

.prototypes > ul > li {
  display: inline-block;
  padding: 10px;
  padding-left: 0px;
}
